 .root{
-fx-background-color :#FFFFFF;
 	
 }
 
.button{
 -fx-font-size: 14px;
 -fx-background-color :#FFFFFF;
 -fx-text-fill : #008080;
 -fx-border-radius : 4px;
 -fx-border-color:#008080;
 -fx-font-weight: bold;
  -fx-border-radius: 15px;
 }
 

 .button:hover{
-fx-background-color :#008080;
-fx-text-fill : #FFFFFF;
-fx-cursor :hand;
}


#VisibilityIcon{
-fx-cursor :hand;
}

#VisibilityOnIcon{
-fx-cursor :hand;
}


.text-field , .password-field{
	-fx-background-radius: 15px;
}







