.root {
    -fx-background-color: white;
}

.root-node-label{
	-fx-font-size:45px;
	
}

.root-node-svg{
	-fx-fill:#23CE4B;
	-fx-scale-x:1.5;
	-fx-scale-y:1.5;
}


.parent-node-label{
	-fx-font-size:35px;
}

.parent-noderatio-svg{
	-fx-fill:#CB9327;
	-fx-scale-x:1.35;
	-fx-scale-y:1.35;
}


.parent-node-svg{
	
	-fx-fill:#0B75B2;
	-fx-scale-x:1.4;
	-fx-scale-y:1.4;
 }



.leaf-node-label{
	-fx-font-size:25px;
}

.leaf-node-svg{
	-fx-fill:#0B75B2;
}

/* Remove blue background on focused tree cells */
.tree-cell:focused {
    -fx-background-color:  transparent;
    -fx-border-color:blue;
}





