.root-node-label{
	-fx-font-size:45px;
     
     }

 
.root-node-svg{
	
	-fx-fill:#FF0000;
	-fx-scale-x:1.9;
	-fx-scale-y:1.9;
	
}


.parent-node-label{
	-fx-font-size:35px;
}

.parent-node-svg{
	-fx-fill:#0B75B2;
    -fx-scale-x:1.5;
 	-fx-scale-y:1.5;
 }
 
 



.leaf-node-label{
	-fx-font-size:25px;
}

.leaf-node-svg{
	-fx-scale-x:1.25;
	-fx-scale-y:1.25;
	-fx-fill:#39A098;
}

/* Remove blue background on focused tree cells */
.tree-cell:focused {
    -fx-background-color:  transparent;
    -fx-border-color:blue;
}